@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sriracha&display=swap');

body{background-color: #C5539B;}

header{background-color: #FF7B9C;
       color: #66465A;
       margin: -25px -8px 0px -8px;
       border-radius: 0px 0px 30px 30px; }

header > h4 {padding: 8px;
             text-align: justify;
             font-family:'Sriracha', cursive;
             font-size: 17.7px;}

header > h1 {font-family: 'Poppins', sans-serif;
             color:#9F006C;
             font-variant: small-caps;
             font-size: 52px;
             text-align: center;}