@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:ital@1&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Cores do site 1 - #EAA1CF 2 - #66465A 3 - #C5539B 4 - #FF7B9C 5 - #9F006C */

/* Página do pedido de namoro */

body{background-color: #C5539B;}

header{
background-color: #FF7B9C;
color: #66465A;
margin: -35px -8px 0px -8px;
padding: 8px 8px 0px 8px;
border-radius: 0px 0px 22px 22px;
}

header > h4{
text-align: center;
font-family:'Sriracha', cursive;
font-size: 20.7px;
width: 100%;
}

header > h1{
font-family: 'Roboto Condensed', sans-serif;
color:#9F006C;
font-variant: small-caps;
font-size: 52px;
text-align: center;
width: 100%;
text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.66);
}

main > nav{
border: 2px solid black;
width: 300px;
height: 450px;
margin: auto;
box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}

nav#nao{
background-image: url(nos/nao.jpg);
background-repeat: no-repeat;
height: 448px;
}

nav#sim{
background-image: url(nos/sim.jpg);
background-repeat: no-repeat;
}

main > p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 50px;
margin-bottom: 5px;
padding-top: 150px;
color: #EAA1CF;
text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.671);
}

nav > a{
text-decoration: none;
}        

nav#nao > a > p:hover{
background-color: rgba(0, 0, 0, 0.76);
color: rgb(173, 0, 0);
}

nav#nao > a > p{
text-align: center;
padding: 155px 1px 137px 1px;
margin: 0px;
font-size: 70px;
font-family: 'Reenie Beanie', cursive;
color: rgba(0, 255, 255, 0);
}

nav#sim > a > p:hover{
background-color: rgba(0, 0, 0, 0.76);
color: rgb(255, 0, 234);
font-family: 'Mali', cursive;
}

nav#sim > a > p{
text-align: center;
padding: 160px 1px 136px 1px;
margin: 0px;
font-size: 40px;
font-family: 'Roboto Condensed', sans-serif;
color: rgba(0, 255, 255, 0);
}

footer{
background-color: #FF7B9C;
color: #66465A;
margin: 35px -8px -18px -8px;
}

footer > p{
text-align: center;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}

footer > p > a{
text-decoration: none;
color: #C5539B;
}

footer > p > a:visited{
text-decoration: none;
color: #C5539B;
}

footer > p > a:hover{
text-decoration: underline;
color: #9F006C;
}

/* Página da carta */

main > p#carta{
background-color: white;
color: black;
font-size: 18px;
text-align: left;  
line-height: 26px;    
font-family: Arial, Helvetica, sans-serif;    
padding: 6px 15px 6px 15px;
margin: 90px auto auto auto;
max-width: 800px;
text-shadow: none;
box-shadow:8px 8px 20px rgba(0, 0, 0, 0.63);
}

/* Página do pedido aceito */

main > p#aceito{
font-size: 180%;
text-align: left;
margin: -27px 5vw 80px 5vw;
padding: 31px 10px 2px 12px;
font-family: 'Itim', cursive;
text-shadow: 1px 1px 3px black;
text-indent: 23px;
line-height: 43px;
background-color: #66465A;
border-radius: 0px 0px 10px 10px;
box-shadow: 2px 2px 10px black;
}

main > p.texto{
font-size: 180%;
text-align: left;
margin: -27px 5vw 80px 5vw;
padding: 8px 10px 2px 12px;
font-family: 'Itim', cursive;
text-shadow: 1px 1px 3px black;
text-indent: 23px;
line-height: 43px;
background-color: #66465A;
border-radius: 10px 10px 10px 10px;
box-shadow: 2px 2px 10px black;
}

main > div.foto{
background-image:url(nos/primeira-junto.jpg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
border-radius: 10px 10px 10px 10px;
background-position: center center;
box-shadow: 2px 2px 10px black;
}

main > div.foto > p.aceitofoto{
font-size: 180%;
text-align: left;
padding: 1px 10px 2px 12px;
margin: -27px 5vw 80px 5vw;
text-shadow: 0px 0px 0px black;
font-family: 'Itim', cursive;
line-height: 43px;
text-indent: 23px;
color: #66465a91;
background-color: #eaa1cf8f;
}
                
main > div.foto > p.aceitofoto-inv{
font-size: 180%;
text-align: left;
padding: 1px 10px 2px 12px;
margin: -27px 5vw 80px 5vw;
text-shadow:0px 0px 0px black;
font-family: 'Itim', cursive;
line-height: 43px;
text-indent: 23px;
color: #eaa1cf;
background-color: #66465a91
}  